html {
  font-size: 10px;
  font-family: 'Ubuntu',sans-serif;
  background-color: #996633;
}

body {
  width: 600px;
  margin: 20px auto;
  padding: 20px 20px 20px 20px;
  border: 5px solid black;
  background-color: #FFFFFF;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #000000;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #000000;
}

img {
  display: block;
  margin: 0 auto;
}